.vs/
obj/
bin/
TimeItTook.Core/obj/
TimeItTook.Core/bin/
TimeItTook.Core.Test/obj/
TimeItTook.Core.Test/bin/
TimeItTook.Wpf/bin/
TimeItTook.Wpf/obj/
TimeItTook.Wpf.Test/bin/
TimeItTook.Wpf.Test/obj/
TimeItTook.Wpf/TimeItTook.Wpf.csproj.user
